<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tareas Pendientes</title>
</head>
<body>
    <h1>Tareas Pendientes</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.id}">ID</td>
                <td th:text="${task.name}">Nombre</td>
                <td th:text="${task.description}">Descripción</td>
                <td>
                	<button class="button" th:data-url="@{/tareaPendiente/{taskId}/{procesoID}(taskId=${task.id}, procesoID=${procesoID})}" onclick="window.open(this.getAttribute('data-url'))">Revisar</button>    
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>